<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="Translatable Extension">
            <directory suffix="Test.php">./Gedmo/Translatable/</directory>
        </testsuite>
        <testsuite name="Sluggable Extension">
            <directory suffix="Test.php">./Gedmo/Sluggable/</directory>
        </testsuite>
        <testsuite name="Sortable Extension">
            <directory suffix="Test.php">./Gedmo/Sortable/</directory>
        </testsuite>
        <testsuite name="Tree Extension">
            <directory suffix="Test.php">./Gedmo/Tree/</directory>
        </testsuite>
        <testsuite name="Timestampable Extension">
            <directory suffix="Test.php">./Gedmo/Timestampable/</directory>
        </testsuite>
        <testsuite name="Blameable Extension">
            <directory suffix="Test.php">./Gedmo/Blameable/</directory>
        </testsuite>
        <testsuite name="Mapping Extension">
            <directory suffix="Test.php">./Gedmo/Mapping/</directory>
        </testsuite>
        <testsuite name="Loggable Extension">
            <directory suffix="Test.php">./Gedmo/Loggable/</directory>
        </testsuite>
        <testsuite name="Sortable Extension">
            <directory suffix="Test.php">./Gedmo/Sortable/</directory>
        </testsuite>
        <testsuite name="Object wrappers">
            <directory suffix="Test.php">./Gedmo/Wrapper/</directory>
        </testsuite>
        <testsuite name="Translator extension">
            <directory suffix="Test.php">./Gedmo/Translator/</directory>
        </testsuite>
        <testsuite name="SoftDeleteable Extension">
            <directory suffix="Test.php">./Gedmo/SoftDeleteable/</directory>
        </testsuite>
        <testsuite name="Uploadable Extension">
            <directory suffix="Test.php">./Gedmo/Uploadable/</directory>
        </testsuite>
        <testsuite name="ReferenceIntegrity Extension">
            <directory suffix="Test.php">./Gedmo/ReferenceIntegrity/</directory>
        </testsuite>
        <testsuite name="References Extension">
            <directory suffix="Test.php">./Gedmo/References/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../lib</directory>
        </whitelist>
    </filter>
</phpunit>
