<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Translatable Extension">
            <directory suffix=".php">./Gedmo/Translatable/</directory>
        </testsuite>
        <testsuite name="Sluggable Extension">
            <directory suffix=".php">./Gedmo/Sluggable/</directory>
        </testsuite>
        <testsuite name="Sortable Extension">
            <directory suffix=".php">./Gedmo/Sortable/</directory>
        </testsuite>
        <testsuite name="Tree Extension">
            <directory suffix=".php">./Gedmo/Tree/</directory>
        </testsuite>
        <testsuite name="Timestampable Extension">
            <directory suffix=".php">./Gedmo/Timestampable/</directory>
        </testsuite>
        <testsuite name="Mapping Extension">
            <directory suffix=".php">./Gedmo/Mapping/</directory>
        </testsuite>
        <testsuite name="Loggable Extension">
            <directory suffix=".php">./Gedmo/Loggable/</directory>
        </testsuite>
        <testsuite name="Sortable Extension">
            <directory suffix=".php">./Gedmo/Sortable/</directory>
        </testsuite>
        <testsuite name="Object wrappers">
            <directory suffix=".php">./Gedmo/Wrapper/</directory>
        </testsuite>
    </testsuites>
</phpunit>
